
header {
    height: 100px;
    background-color: rgb(164, 163, 163);
}

.d-block{
    height: 600px;
}

.b0{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
}
 main{
    background-color: rgb(164, 163, 163);
    

 }
.container-menu{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: normal;
    color: rgb(164, 163, 163);
    font-weight: 400;
    text-decoration: none;
}
.container-list
{
    font-style: normal;
    color: rgb(255, 255, 255);
}
.carousel-item{
    color: rgb(255, 255, 255);

}
.container-card{
    margin-top: 150px;
    
}
.card-body{
    background-color: rgb(164, 163, 163);
}

.dnoo {

    background-color: #000;
}
